{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="{% if object.image %}{{ product.image.url }}{% else %}https://dummyimage.com/600x700/dee2e6/6c757d.jpg{% endif %}"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder">{{ object.name }}</h1>
        <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">$45.00</span>
          <span>${{ object.price }}</span>
        </div>
        <p class="lead">
          {{ object.description|linebreaks }}
        </p>
        <form action="{% url "cart_add" object.id %}" method="post">
          {% csrf_token %}
          <div class="d-flex">
            {{ form|crispy }}
            {% comment %} <input
              class="form-control text-center me-3"
              id="inputQuantity"
              type="num"
              value="1"
              style="max-width: 3rem"
            /> {% endcomment %}
            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
              <i class="bi-cart-fill me-1"></i>
              {% trans "Add to cart" %}
            </button>
          </div>
        </form>

        <!-- RECOMENDAÇÕES -->
        {% if recommended_products %}
        <div class="recommendations">
          <h3>{% trans "People who bought this also bought" %}</h3>
          {% for p in recommended_products %}
            <div class="item">
              <a href="{{ p.get_absolute_url }}">
                <img src="{% if p.image %}{{ p.image.url }}{% else %}
                {% static  "img/no_image.png" %}{% endif %}">
              </a>
              <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
            </div>
          {% endfor %}
        </div>
        {% endif %}
        <!-- RECOMENDAÇÕES -->

      </div>
    </div>
  </div>
</section>
{% endblock %}